.purchase_product_history{
    float: left;
    width: 100%;
    }
    .purchase_product_history .purchase_product_history_table{
    float: left;
    width: 100%;
    }
    
    .purchase_product_history .purchase_product_history_table > strong{
      color: #232323;
      font-size: 25px;
      float: left;
      margin-bottom: 20px;
     width: 100%;
    }
    .my_custom_scrollbar {
      position: relative;
     width: 100%;
      overflow: auto;
      }
      .table_wrapper_scroll_x {
      display: block;
      z-index: 0;
      }
    table{
      width: 100%;
    margin-bottom: 15px;
    table-layout: auto;
    border-collapse: unset;
    }
    
    table tr th{
      background-color: #C0C0C0;
        align-items: center;
        text-align: center;
        color: #232323;
        font-size: 17px;
        padding: 10px 10px;
    }
    
    table tr td{
      background-color: #C0C0C0;
        align-items: center;
        text-align: center;
        color: #232323;
        font-size: 17px;
        padding: 10px 10px;
    }
    table tr td a{
      text-decoration: none;
      color: #252525;
    }
    table tr td .admin_page_product_img{
    width: 50px;
    }
    table tr td .admin_size_selection{
      width: 50px;
      }
      table tr td .admin_size_selection option{
        background-color: #fff;
        color: #232323;
      }
    
    #purchase_product_history{
    display: block;
    visibility: visible;
    }
    .admin_container{
        max-width: 1000px;
        margin: 0px auto;
      }

      .button{
        color:#232323;
        align-items: center;
        justify-content: center;
      }