.view_Employee_Leave_table {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.view_Employee_Leave_table table {
  width: 100%;
  margin-bottom: 15px;
  table-layout: auto;
  border-collapse: collapse;
}
.view_Employee_Leave_table table .Employee_Leave_table_header {
  box-shadow: 0 0 3px #e5e5e5;
  color: rgb(51, 51, 51) !important;
  background: #fff;
}
.view_department_table table tr {
  box-shadow: 0 0 3px #e5e5e5;
}
.view_Employee_Leave_table table .Employee_Leave_table_body {
  background: #fff;
}
.view_Employee_Leave_table table .Employee_Leave_table_body:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.view_Employee_Leave_table table tr th {
  align-items: center;
  text-align: left;
  color: #232323;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
}

.view_Employee_Leave_table table tr td {
  align-items: center;
  text-align: left;
  color: #252525;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.3s;
  text-transform: capitalize;
  border: 1px solid black;
  height: 75px;
}

.view_Employee_Leave_action {
  text-align: right !important;
}

.view_Employee_Leave_action_btn i {
  cursor: pointer;
  font-size: 16px;
}
.view_Employee_Leave_table table tr .view_Employee_Leave_action_btn {
  position: relative;
  float: right;
}

.view_Employee_Leave_do_action {
  position: absolute;
  width: 115px;
  height: 96px;
  background: #ffffff;
  right: 12px;
  top: 18px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10px;
  justify-content: center;
  gap: 10px 0px;
}
.view_Employee_Leave_do_action a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: #212529;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  cursor: pointer;
}
.view_Employee_Leave_do_action a i {
  font-size: 12px;
}
.view_Employee_Leave_do_action a:hover {
  color: #252525;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .view_Employee_Leave_table table {
    display: block;
    overflow-x: scroll;
  }
  .view_Employee_Leave_table table tr th {
    min-width: 160px;
  }
}

@media (max-width: 767px) {
  .view_Employee_Leave_table table {
    display: block;
    overflow-x: scroll;
  }
  .view_Employee_Leave_table table tr th {
    min-width: 160px;
  }
}

.advertisment_click_box {
  position: relative;
}
.__advertisment__ {
  display: flex;
  gap: 0px 10px;
  align-items: center;
}
.advertisment_click_box_detail {
  position: absolute;
  left: 0px;
  background: lightseagreen;
  z-index: 9999;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  width: 195px;
}
.click_box_inner_detail {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.click_box_inner_btn {
  display: flex;
  justify-content: space-between;
  gap: 10px 10px;
}
.advertisment {
  background: lightgray;
  padding: 10px 20px;
  width: fit-content;
  margin: 10px 0;
}
